#!/bin/bash

set -a

DEBUG=true
APP_DOMAIN='http://127.0.0.1:8000'

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# generate your own with:
# openssl rand -hex 32
JWT_SECRET=

if [ -f ./secrets ]; then
    source ./secrets
fi

set +a
