#!/bin/bash

set -a

DEBUG=true
APP_DOMAIN='http://127.0.0.1:8000'

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# generate your own with:
# openssl rand -hex 32
JWT_SECRET=
SESSION_SECRET=

# database
RDS_HOSTNAME=localhost
RDS_PORT=5432
RDS_DB_NAME=donorlog
RDS_USERNAME=dl
RDS_PASSWORD=dl
RDS_DATABASE_URL=postgresql://${RDS_USERNAME}:${RDS_PASSWORD}@${RDS_HOSTNAME}:${RDS_PORT}/${RDS_DB_NAME}

if [ -f ./secrets ]; then
    source ./secrets
fi

set +a
