#!/bin/bash

set -a

export VIRTUAL_ENV=.venv
layout python3

DEBUG=true
APP_DOMAIN='http://127.0.0.1:8000'

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

OPENCOLLECTIVE_CLIENT_ID=
OPENCOLLECTIVE_CLIENT_SECRET=

SESSION_SECRET=

# database
source ./docker.env

RDS_HOSTNAME=localhost
RDS_PORT=5432
RDS_DB_NAME=${POSTGRES_DB}
RDS_USERNAME=${POSTGRES_USER}
RDS_PASSWORD=${POSTGRES_PASSWORD}
RDS_DATABASE_URL=postgresql://${RDS_USERNAME}:${RDS_PASSWORD}@${RDS_HOSTNAME}:${RDS_PORT}/${RDS_DB_NAME}

if [ -f ./secrets ]; then
    source ./secrets
fi

set +a
