fastapi==0.115.8
uvicorn==0.34.0
httpx==0.28.1

# for template
Jinja2==3.1.5

# for testing
pytest==8.3.4
requests==2.32.3
pytest-asyncio==0.25.3

# for session
itsdangerous==2.2.0

# for accessing form data
python-multipart==0.0.20

# for types
typing_extensions==4.12.2
pydantic==2.10.6

# postgres
asyncpg==0.30.0