fastapi==0.78.0
uvicorn==0.17.6
httpx==0.23.0

# for template
Jinja2==3.1.2

# for testing
pytest==7.1.2
requests==2.31.0

# for jwt
python-jose==3.3.0
pycryptodome==3.14.1

# for accessing form data
python-multipart==0.0.5

# for types
typing_extensions==4.2.0
pydantic==1.9.1