fastapi==0.78.0
uvicorn==0.17.6

# for template
Jinja2==3.1.2

# for testing
pytest==7.1.2
requests==2.27.1

# for jwt
python-jose==3.3.0

# for accessing form data
python-multipart==0.0.5

# for types
typing_extensions==4.2.0
pydantic==1.9.1