<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DonorLog</title>
</head>
<body>
{% if not github_username %}
<form action="/login/github" method="post">
    <input type="submit" value="Login with Github"/>
</form>
{% else %}
<form action="/search" method="post">
    <p>Github username: {{ github_username }}</p>
    <input type="hidden" name="github_username" value="{{ github_username }}"/>
    {% if github_monthly_sponsorship_amount != None %}
    <p>GitHub Monthly Amount: ${{ github_monthly_sponsorship_amount }}/mo</p>
    <input type="hidden" name="github_monthly_sponsorship_amount" value="{{ github_monthly_sponsorship_amount }}"/>
    {% endif %}
    <p><input type="submit" value="submit"/></p>
</form>
{% endif %}
</body>
</html>