<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DonorLog</title>
</head>
<body>
{% if not github_username %}
<form action="/login/github" method="get">
    <input type="submit" value="Login with Github"/>
</form>
{% else %}
<p>GitHub username: {{ github_username }}</p>
<p>GitHub monthly donation amount: ${{ monthly_donation_amount }}</p>
<p>GitHub total donation amount: ${{ total_donation_amount }}</p>
{% if not opencollective_username %}
<form action="/login/opencollective" method="get">
    <input type="submit" value="Login with OpenCollective"/>
</form>
{% endif %}
<form action="/logout" method="get">
    <input type="submit" value="logout">
</form>
{% endif %}
</body>
</html>